h1
{
color:#FF0000;
}
h2
{
color:#FF0000;
}
.poblacion
{
color:#000080;
}
.continente
{
color:#000080;
}
.capital
{
color:#000080;
}
.impar{
color:#000080;
}
.par{
color:#000080;
}
img{
border-color: #0000FF;
border-width:2px;
border-style:solid;
}