h1
{
color:#9F1436;
background-color:#D7E6EF;
}
h2
{
color:#9F1436;
background-color:#D7E6EF;
}
.poblacion
{
color:#9F1436;
background-color:#D7E6EF;
}
.continente
{
color:#9F1436;
background-color:#D7E6EF;
}
.capital
{
color:#9F1436;
background-color:#D7E6EF;
}
.impar{
color:#9F1436;
background-color:#D7E6EF;
}
.par{
color:#9F1436;
background-color:#D7E6EF;
}
.img{
border-color: #0000FF;
border-width:2px;
border-style:solid;
}